<div class="container-fluid">
  <div class="row">
   
  <div class="col-md-4"></div>
  <div class="col-md-4">
        <h1>Log In</h1>
        <%= form_for(@user, {url: sessions_path})   do |f| %>

         
          E-mail: <%= f.text_field :email, :class => 'form-control' %>
          Password: <%= f.password_field :password, :class => 'form-control' %>

          <%= f.submit "Login", :class => 'btn btn-primary btn-lg btn-block' %>
        <% end %>
        <%= link_to 'Back', users_path %>
    </div>
  <div class="col-md-4"></div>
</div>





