<div class="container-fluid">
  <div class="row">
   
  <div class="col-md-1"></div>
  <div class="col-md-10">
  	<h1>Users</h1>
<p>
  <strong>Username</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<% current_user.events.each do |u| %>
<%= u.address %> <%= u.city %> <%= u.state %><%= u.zip %>
<% end %>
 </div>

<% current_user.events.each do |u| %>
<%= u.address %>
<% end %>

   
  <div class="col-md-1"></div>
</div>
