<%= render 'layouts/nav' %>
<h1>Event</h1>
<p>
  <strong>Username:</strong>
  <%= @event.user.username%>
</p>
<p>
  <strong>Title:</strong>
  <%= @event.title%>
</p>
<p>
  <strong>Date:</strong>
  <%= @event.date%>
</p>
<p>
  <strong>Time:</strong>
  <%= @event.time%>
</p>
<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>
<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.desc %>
</p>

<div class="form-actions">
  <%= link_to 'Back', events_path %>
  <%= link_to 'Edit', edit_event_path(@event), :class => 'btn' %> |
  <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>


</div>
